<!--<p>footer works!</p>-->
<footer class="bg-light w-100 position-absolute bottom-0 z-2">
  <ul class="nav justify-content-center">
    <li class="nav-item pt-1">
      <a class="nav-link px-2 pe-5 text-muted yes-link" routerLink="/about">About us</a>
    </li>
    <li class="nav-item pt-1">
      <a class="nav-link text-center pe-5 text-muted no-link">Dotes 2023</a>
    </li>
    <li class="nav-item pt-1">
      <a class="nav-link px-2 text-muted yes-link" href="mailto:swiftdote@gmail.com">Email Us</a>
    </li>
  </ul>
</footer>


