<div class="idBody w-100 m-0 mt-4 mb-1 h-100 container-fluid row">

  <div class="card bg-light w-75 mx-auto border-3 border-dark mb-2">
    <h3 class="card-header text-center">About Us</h3>
    <div class="card-body">
      <p class="card-text">
        Dotes is a diary/notes website with the goal of facilitating the creation, organization and writing of journals/notes by gathering all said features in an easy to use environment. This project is done by Ronald Kirk and Erfan Taghiabadi who were just aiming to create a project out of pure boredom. This page is here because we did not know what else to put. Also, this is the only page that is responsive for Galaxy Fold users.
      </p>
    </div>
  </div>


</div>
